template(name="portfolio")
  #portfolio
    #portfolioSVG
      svg(xmlns="http://www.w3.org/2000/svg", width="100%", height="100%", viewBox="0 0 100 30", preserveAspectRatio="xMinYMin meet")
        //- +each portfolio_svg_data
        //-   rect(x="#{x_line}", y="#{y}", width="1", height="30", style="fill:#{color}")
        //-   circle.portfolio-circle(cx="#{x}", cy="#{y}", r="#{r}", fill="#{color}", data-panel-target="#{index}")
        //-   text(x="#{x}", y="#{y_text}", fill="#ffffff", font-size="2") #{label}

    +each portfolio_data
      .panel.portfolio-panel(class="{{first_active index}}", id="portfolioPanel#{index}")
        .row
          .small-3.columns
            img(src=img)
          .small-9.columns
            h2 #{name}
            .content
              p #{data_product}
        .row
          .small-12.columns
            .techniques
              +each techniques
                span.label #{this}